################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NX_API_CSharp/obj/Debug
/NX_API_CSharp/bin/Debug
/NX_API_CSharp/.vs
/Inventor_API_CSharp/obj/Debug
/Inventor_API_CSharp/bin/Debug
/Inventor_API_CSharp/.vs
/CREO_API_CSharp/obj/Debug
/CREO_API_CSharp/bin/Debug
/CREO_API_CSharp/.vs
/SolidWorks_API_CSharp/obj/Debug
/SolidWorks_API_CSharp/bin/Debug
/SolidWorks_API_CSharp/.vs
/Revit_API_CSharp/obj/Debug
/Revit_API_CSharp/bin/Debug
/Revit_API_CSharp/.vs/Revit_API_CSharp/v16
/AutoCAD_API_CSharp/obj/Debug
/AutoCAD_API_CSharp/bin/Debug
/AutoCAD_API_CSharp/.vs/AutoCAD_API/v16
/CATIA_API_CSharp/obj/Debug
/CATIA_API_CSharp/bin/Debug
/CATIA_API_CSharp/.vs
/SolidEdge_API_CSharp/obj/Debug
/SolidEdge_API_CSharp/bin/Debug
/SolidEdge_API_CSharp/.vs
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Inventor_API_CSharp/Sample_AddIn/.vs/Extrusion_AddIn/v16/.suo
/Inventor_API_CSharp/Sample_AddIn/.vs/Sample_AddIn/FileContentIndex/7abaad85-5c6c-48f6-8316-6ae87f2c5d28.vsidx
/Inventor_API_CSharp/Sample_AddIn/.vs/Sample_AddIn/v16/.suo
/Inventor_API_CSharp/Sample_AddIn/.vs/Sample_AddIn/v17/.suo
/Inventor_API_CSharp/Sample_AddIn/.vs/Sample_AddIn/v17/DocumentLayout.backup.json
/Inventor_API_CSharp/Sample_AddIn/.vs/Sample_AddIn/v17/DocumentLayout.json
/Inventor_API_CSharp/Sample_AddIn/.vs/Sample_AddIn.csproj.dtbcache.json
/NX_API_CSharp/obj/Release/NX_API.csproj.AssemblyReference.cache
/NX_API_CSharp/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/SolidEdge_API_CSharp/obj/Release/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/SolidEdge_API_CSharp/obj/Release/SolidEdge_API.csproj.AssemblyReference.cache
