################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NX_API_CSharp/obj/Debug
/NX_API_CSharp/bin/Debug
/NX_API_CSharp/.vs
/Inventor_API_CSharp/obj/Debug
/Inventor_API_CSharp/bin/Debug
/Inventor_API_CSharp/.vs
/CREO_API_CSharp/obj/Debug
/CREO_API_CSharp/bin/Debug
/CREO_API_CSharp/.vs
/SolidWorks_API_CSharp/obj/Debug
/SolidWorks_API_CSharp/bin/Debug
/SolidWorks_API_CSharp/.vs
/Revit_API_CSharp/obj/Debug
/Revit_API_CSharp/bin/Debug
/Revit_API_CSharp/.vs/Revit_API_CSharp/v16
/AutoCAD_API_CSharp/obj/Debug
/AutoCAD_API_CSharp/bin/Debug
/AutoCAD_API_CSharp/.vs/AutoCAD_API/v16
